<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <p><strong>Atendimento:</strong><br>
          Segunda a sábado das 8h às 20h<br>
          Domingos e feriados das 8h às 15h
        </p>
        <p><strong>Fale com um farmacêutico:</strong><br>
          <i class="fa-brands fa-whatsapp"></i>WhatsApp: (00) 99999-9999
        </p>
      </div>
  
      <div class="footer-section">
        <p><strong>Informações:</strong><br>
          As informações contidas neste site não substituem orientações médicas. Em caso de dúvidas, consulte um profissional.
        </p>
      </div>
  
      <div class="footer-section">
        <p>© 2025 InfoFarma. Todos os direitos reservados.</p>
        <p>by Flask • BRAZIL</p>
      </div>
    </div>
  </footer>
