{% extends 'base.html' %}

{% block title %}Produtos - InfoFarma{% endblock %}

{% block content %}

  <h1 class="produtos-title">🛍 Produtos InfoFarma</h1>
  <p class="produtos-subtitle">Confira nossa seleção de produtos para sua saúde e bem-estar:</p>

  <h2 class="produtos-section-title">Mais Procurados</h2>
  <div class="produtos">
    <div class="produto">
      <img src="{{ url_for('static', filename='img/remedio1.png') }}" alt="Analgésico">
      <h3>Analgésico 500mg</h3>
      <p>Alívio rápido da dor e febre.</p>
      <button>Ver mais</button>
    </div>
    <div class="produto">
      <img src="{{ url_for('static', filename='img/vitamina.png') }}" alt="Vitamina C">
      <h3>Vitamina C 1g</h3>
      <p>Reforce sua imunidade diariamente.</p>
      <button>Ver mais</button>
    </div>
    <div class="produto">
      <img src="{{ url_for('static', filename='img/vitaminab12.png') }}" alt="Vitamina B12">
      <h3>Vitamina B12</h3>
      <p>Energia e saúde neurológica.</p>
      <button>Ver mais</button>
    </div>
    <div class="produto">
      <img src="{{ url_for('static', filename='img/alcoolgel.png') }}" alt="Álcool em Gel">
      <h3>Álcool em Gel 70%</h3>
      <p>Proteção prática para o dia a dia.</p>
      <button>Ver mais</button>
    </div>
    <div class="produto">
      <img src="{{ url_for('static', filename='img/huggies.jpeg') }}" alt="Fraldas Huggies">
      <h3>Fraldas Huggies</h3>
      <p>Conforto e proteção para o seu bebê.</p>
      <button>Ver mais</button>
    </div>
    <div class="produto">
      <img src="{{ url_for('static', filename='img/pampers.jpeg') }}" alt="Fraldas Pampers">
      <h3>Fraldas Pampers</h3>
      <p>Até 12h de absorção para noites tranquilas.</p>
      <button>Ver mais</button>
    </div>
  
</div>
{% endblock %}
